@charset "UTF-8";

/*
 HTML id = CSS # (Só é permitido apenas um elemento)
 HTML class = CSS .
*/

/*
Não pode repetir o mesmo id 
*/
body{
    background-color: #74AAD6;  
}

h1{
    color: green;
}

h2{
    color: rgb(20, 38, 20);
}
h1#principal{
    text-align: center;
    text-decoration: underline;
}

h2.Basico{
    color: #2B7CF0;
}

h2.Intermediario{
    color:  #F7D95E;
}

h2.Avançado{
color: #F05643;
}

.destaque{
background-color: rgba(0, 255, 55, 0.452);
}